
main {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 0px;
}
app-square{
    border: 1px gray solid;
    height: 200px;

}
.btn:hover{
    color: black;
}
.cont,.cont1,.cont2,.cont3{
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 800px) {
    main {
        display: grid;
        grid-template-columns: 80px 80px 80px;
        grid-gap: 0px;
    }
    app-square{
        border: 1px gray solid;
        height: 80px;
        width: 80px;
    
    }
  }