<div class="cont">
<h1>Current Player:{{player}}</h1>
</div>
<div class="cont1">
<button style="margin-bottom: 20px;" nbButton outline status="danger" (click)="newGame()" >Start new game</button>
</div>
<div class="cont2">
<h2 *ngIf="winner">
    Player {{ winner }} won the game!
</h2>
</div>
<div class="cont3">
<main>
    <app-square 
        *ngFor="let val of squares; let i = index"
        [value]="val"
        [winner]="winner"
        (click)="makemove(i)">
        
        
    </app-square>
</main>
</div>